In [132]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

df = pd.read_csv("data/ml_5.csv", index_col='Object')
df

         X   Y  Cluster
Object
1       12  11        0
2        5  12        1
3       14  15        2
4        3   3        0
5        9   1        2
6       11  11        0
7       15   2        1
8        6   4        0
9       17  11        0
10      13  11        0
11      18  11        2
12       9  15        2
13      15  20        2
14       9  18        2
15      14   5        2

In [133]:
X = df.drop(['Cluster'], axis=1)
X

         X   Y
Object
1       12  11
2        5  12
3       14  15
4        3   3
5        9   1
6       11  11
7       15   2
8        6   4
9       17  11
10      13  11
11      18  11
12       9  15
13      15  20
14       9  18
15      14   5

In [134]:
y = df['Cluster']
y

cl = [[10.33, 8.5], [10.0, 7.0], [12.57, 12.14]]
km = KMeans(n_clusters=3, init=np.asarray(cl), max_iter=100, n_init=1)
model = km.fit(X)
clusters = model.labels_

In [135]:
dists = model.fit_transform(X)
X['Cluster'] = clusters

In [136]:
X[['dist0', 'dist1', 'dist2']] = pd.DataFrame(dists, index=X.index)
zero = X.loc[X['Cluster'] == 0]

# один элемент в 0 кластере, среднее равно 0
zero

        X   Y  Cluster  dist0      dist1     dist2
Object
2       5  12        0    0.0  10.017984  8.280574